<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/form.css') }}"
  />
    <title>Form</title>
</head>
<body>

  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Home</a>
  </nav>

      {% if state == 1 %}
      <div class="container">
        <form action="/data/head" method="post">
          <div class="form-group">
            <label>Numero de registros</label>
            <input type="number" class="form-control" name="number" placeholder="Ingrese número">
          </div>
          <button type="submit" class="btn btn-success">Cargar datos</button>
        </form>
      </div>
      
      {% elif state == 2 %}
      <div class="container">
        <form action="/data/sex/country" method="post">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Personas muertas por sexo y país al cual viajaron.</label>
              <select class="custom-select mr-sm-2" name="selection-country">
                <option selected>País</option>
                <option value="ESPAÑA">España</option>
                <option value="ITALIA">Italia</option>
                <option value="ALEMANIA">Alemania</option>
                <option value="ECUADOR">Ecuador</option>
                <option value="ESTADOS UNIDOS">Estados Unidos</option>
                <option value="JAMAICA">Jamaica</option>
                <option value="GRECIA">Grecia</option>
                <option value="MEXICO">Mexico</option>
                <option value="BRASIL">Brasil</option>
                <option value="CROACIA">Croacia</option>
              </select>
              <hr>  
              <select class="custom-select mr-sm-2" name="selection-sex">
                <option selected>Sexo</option>
                <option value="M">M</option>
                <option value="F">F</option>
              </select>
              
              <button id="btn_uno" type="submit" class="btn btn-success">Cargar datos</button>
            </div>
  
        </form>
      </div>
      {% elif state == 3 %}
      <div class="container_dos">
        <form action="/data/country/dates" method="post">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Numero muertes por país en un lapso de tiempo determinado.</label>
              <select class="custom-select mr-sm-2" name="selection-country">
                <option selected>Pais</option>
                <option value="ESPAÑA">España</option>
                <option value="ITALIA">Italia</option>
                <option value="ALEMANIA">Alemania</option>
                <option value="ECUADOR">Ecuador</option>
                <option value="ESTADOS UNIDOS">Estados Unidos</option>
                <option value="JAMAICA">Jamaica</option>
                <option value="GRECIA">Grecia</option>
                <option value="MEXICO">Mexico</option>
                <option value="BRASIL">Brasil</option>
                <option value="CROACIA">Croacia</option>
              </select>
              <hr> 
              <label class="mr-sm-2">Desde</label> 
              <input class="form-control" type="date" name="firstDate">
              <hr>
              <label class="mr-sm-2">Hasta</label>
              <input class="form-control" type="date" name="secondDate">
              <button id="btn_uno" type="submit" class="btn btn-success">Cargar datos</button>
            </div>
  
        </form>
      </div>
      {% elif state == 4 %}
      <div class="container">
        <form action="/data/count/country" method="post">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Personas contagiadas por país.</label>
              <select class="custom-select mr-sm-2" name="selection-sex">
                <option selected>Sexo</option>
                <option value="M">M</option>
                <option value="F">F</option>
              </select>
              
              <button id="btn_uno" type="submit" class="btn btn-success">Cargar datos</button>
            </div>
  
        </form>
      </div>

      {% elif state == 5 %}
      <div class="container">
        <form action="/data/count/state" method="post">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Estado de personas por departamento.</label>
              <select class="custom-select mr-sm-2" name="selection-state">
                <option selected>Estado</option>
                <option value="Recuperado">Recuperado</option>
                <option value="Fallecido">Fallecido</option>
                <option value="Activo">Activo</option>
                <option value="N/A">N/A</option>
              </select>
              
              <button id="btn_uno" type="submit" class="btn btn-success">Cargar datos</button>
            </div>
  
        </form>
      </div>
      {% elif state == 6 %}
      <div class="container_dos">
        <form action="/data/resumen/departamento" method="post">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Resumen por departamento.</label>
              <select class="custom-select mr-sm-2" name="country">
                <option selected>Departamento</option>
                <option value="AMAZONAS">AMAZONAS</option>
                <option value="ANTIOQUIA">ANTIOQUIA</option>
                <option value="ARAUCA">ARAUCA</option>
                <option value="ATLANTICO">ATLANTICO</option>
                <option value="BARANQUILLA">BARANQUILLA</option>
                <option value="BOGOTA">BOGOTA</option>
                <option value="BOLIVAR">BOLIVAR</option>
                <option value="BOYACA">BOYACA</option>
                <option value="CALDAS">CALDAS</option>
                <option value="CAQUETA">CAQUETA</option>
                <option value="CARTAGENA">CARTAGENA</option>
                <option value="CASANARE">CASANARE</option>
                <option value="CAUCA">CAUCA</option>
                <option value="CESAR">CESAR</option>
                <option value="CHOCO">CHOCO</option>
                <option value="CORDOBA">CORDOBA</option>
                <option value="CUNDINAMARCA">CUNDINAMARCA</option>
                <option value="GUAINIA">GUAINIA</option>
                <option value="GUAJIRA">GUAJIRA</option>
                <option value="GUAVIARE">GUAVIARE</option>
                <option value="HUILA">HUILA</option>
                <option value="MAGDALENA">MAGDALENA</option>
                <option value="META">META</option>
                <option value="NARIÑO">NARIÑO</option>
                <option value="PUTUMAYO">PUTUMAYO</option>
                <option value="QUINDIO">QUINDIO</option>
                <option value="RISARALDA">RISARALDA</option>
                <option value="SAN ANDRES">SAN ANDRES</option>
                <option value="SANTANDER">SANTANDER</option>
                <option value="STA MARTA D.E.">STA MARTA D.E.</option>
                <option value="SUCRE">SUCRE</option>
                <option value="TOLIMA">TOLIMA</option>
                <option value="VAUPES">VAUPES</option>
                <option value="VICHADA">VICHADA</option>

              </select>
              <button id="btn_uno" type="submit" class="btn btn-success">Cargar datos</button>
            </div>
      {% elif state == 7%}
      <div class="container">
        <form action="/data/muertes/ciudad" method="post">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Número de fallecidos, según la ciudad o municipio</label>
              <select class="custom-select mr-sm-2" name="selection-city">
                <option selected>Ciudad</option>
                <option value="ABREGO">ABREGO</option>
                <option value="ACACIAS">ACACIAS</option>
                <option value="ACEVEDO">ACEVEDO</option>
                <option value="AGRADO">AGRADO</option>
                <option value="AGUACHICA">AGUACHICA</option>
                <option value="AGUSTIN CODAZZI">AGUSTIN CODAZZI</option>
                <option value="ALBANIA">AIPE</option>
                <option value="ALBANIA">ALBANIA</option>
                <option value="ALCALA">ALCALA</option>
                <option value="ALGECIRAS">ALGECIRAS</option>
                <option value="ANAPOIMA">ANAPOIMA</option>
                <option value="ANCUYA">ANCUYA</option>
                <option value="ANDALUCIA">ANDALUCIA</option>
                <option value="ANDES">ANDES</option>
                <option value="ANGOSTURA">ANGOSTURA</option> 
                <option value="ANSERMA">ANSERMA</option>
                <option value="APARTADO">APARTADO</option>
                <option value="AQUITANIA">AQUITANIA</option>
                <option value="ARJONA">ARJONA</option>
                <option value="ARMENIA">ARMENIA</option>
                <option value="BARANOA">BARANOA</option>
                <option value="BARBOSA">BARBOSA</option>
                <option value="BARRANCABERMEJA">BARRANCABERMEJA</option>
                <option value="BARRANCO DE LOBA">BARRANCO DE LOBA</option>
                <option value="BARRANQUILLA">BARRANQUILLA</option>
                <option value="BELEN">BELEN</option>
                <option value="BELLO">BELLO</option>
                <option value="BOGOTA">BOGOTA</option>
                <option value="BOSCONIA">BOSCONIA</option>
                <option value="BUCARAMANGA">BUCARAMAGA</option>
                <option value="BUENAVENTURA">BUENAVENTURA</option>
                <option value="BUGA">BUGA</option>
                <option value="BUGALAGRANDE">BUGALAGRANDE</option>
                <option value="CACERES">CACERES</option>
                <option value="CACOTA">CACOTA</option>
                <option value="CAJICA">CAJICA</option>
                <option value="CALAMAR">CALAMAR</option>
                <option value="CALARCA">CALARCA</option>
                <option value="CALDAS">CALDAS</option>
                <option value="CALI">CALI</option>
                <option value="CALOTO">CALOTO</option>
                <option value="CANALETE">CANALETE</option>
                <option value="CANDELARIA">CANDELARIA</option>
                <option value="CARMEN DE VIBORAL">CARMEN DE VIBORAL</option>
                <option value="CARTAGENA">CARTAGENA</option>
                <option value="CARTAGO">CARTAGO</option>
                <option value="CHIA">CHIA</option>
                <option value="CHINCHINA">CHINCHINA</option>
                <option value="CHIPAQUE">CHIPAQUE</option>
                <option value="CHIQUINQUIRA">CHIQUINQUIRA</option>
                <option value="CHIRIGUANA">CHIRIGUANA</option>
                <option value="CHOACHI">CHOACHI</option>
                <option value="CIENAGA DE ORO">CIENAGA DE ORO</option>
                <option value="CIMITARRA">CIMITARRA</option>
                <option value="CIRCASIA">CIRCASIA</option>
                <option value="COCORNA">COCORNA</option>
                <option value="COGUA">COGUA</option>
                <option value="CONCEPCION">CONCEPCION</option>
                <option value="CONTADERO">CONTADERO</option>
                <option value="COPACABANA">COPACABANA</option>
                <option value="COTA">COTA</option>
                <option value="CUASPUD (CARLOSAMA)">CUASPUD (CARLOSAMA)</option>
                <option value="CUBARA">CUBARA</option>
                <option value="CUCUTA">CUCUTA</option>
                <option value="CUMBAL">CUMBAL</option>
                <option value="CUMBITARA">CUMBITARA</option>
                <option value="CURITI">CURITI</option>
                <option value="DAGUA">DAGUA</option>
                <option value="DARIEN">DARIEN</option>
                <option value="DISTRACCION">DISTRACCION</option>
                <option value="DON MATIAS">DON MATIAS</option>
                <option value="DOSQUEBRADAS">DOSQUEBRADAS</option>
                <option value="DUITAMA">DUITAMA</option>
                <option value="EL BANCO">EL BANCO</option>
                <option value="EL CERRITO">EL CERRITO</option>
                <option value="EL COLEGIO">EL COLEGIO</option>
                <option value="EL DOVIO">EL DOVIO</option>
                <option value="EL TAMBO">EL TAMBO</option>
                <option value="ENVIGADO">ENVIGADO</option>
                <option value="ESPINAL">ESPINAL</option>
                <option value="FACATATIVA">FACATATIVA</option>
                <option value="FILANDIA">FILANDIA</option>
                <option value="FLORENCIA">FLORENCIA</option>
                <option value="FLORIDA">FLORIDA</option>
                <option value="FLORIDABLANCA">FLORIDABLANCA</option>
                <option value="FOMEQUE">FOMEQUE</option>
                <option value="FRONTINO">FRONTINO</option>
                <option value="FUNZA">FUNZA</option>
                <option value="FUSAGASUGA">FUSAGASUGA</option>
                <option value="GALAPA">GALAPA</option>
                <option value="GARAGOA">GARAGOA</option>
                <option value="GARZON">GARZON</option>
                <option value="GIGANTE">GIGANTE</option>
                <option value="GINEBRA">GINEBRA</option>
                <option value="GRANADA">GRANADA</option>
                <option value="GUACARI">GUACARI</option>
                <option value="GUACHENÉ">GUACHENÉ</option>
                <option value="GUACHUCAL">GUACHUCAL</option>
                <option value="GUADUAS">GUADUAS</option>
                <option value="GUAMO">GUAMO</option>
                <option value="GUARNE">GUARNE</option>
                <option value="GUATAPE">GUATAPE</option>
                <option value="IBAGUE">IBAGUE</option>
                <option value="IPIALES">IPIALES</option>
                <option value="ISNOS (SAN JOSE DE ISNOS)">ISNOS (SAN JOSE DE ISNOS)</option>
                <option value="ITAGUI">ITAGUI</option>
                <option value="JAMUNDI">JAMUNDI</option>
                <option value="LA CALERA">LA CALERA</option>
                <option value="LA CEJA">LA CEJA</option>
                <option value="LA CUMBRE">LA CUMBRE</option>
                <option value="LA DORADA">LA DORADA</option>
                <option value="LA ESTRELLA">LA ESTRELLA</option>
                <option value="LA FLORIDA">LA FLORIDA</option>
                <option value="LA JAGUA DE IBIRICO">LA JAGUA DE IBIRICO</option>
                <option value="LA PLATA">LA PLATA</option>
                <option value="LA TEBAIDA">LA TEBAIDA</option>
                <option value="LA UNION">LA UNION</option>
                <option value="LA VIRGINIA">LA VIRGINIA</option>
                <option value="LETICIA">LETICIA</option>
                <option value="LINARES">LINARES</option>
                <option value="LORICA">LORICA</option>
                <option value="LOS PALMITOS">LOS PALMITOS</option>
                <option value="LOS PATIOS">LOS PATIOS</option>
                <option value="MADRID">MADRID</option>
                <option value="MAGANGUE">MAGANGUE</option>
                <option value="MAICAO">MAICAO</option>
                <option value="MALAMBO">MALAMBO</option>
                <option value="MANATI">MANATI</option>
                <option value="MANIZALES">MANIZALES</option>
                <option value="MARIA LA BAJA">MARIA LA BAJA</option>
                <option value="MARMATO">MARMATO</option>
                <option value="MARQUETALIA">MARQUETALIA</option>
                <option value="MEDELLIN">MEDELLIN</option>
                <option value="MELGAR">MELGAR</option>
                <option value="MIRANDA">MIRANDA</option>
                <option value="MONTEBELLO">MONTEBELLO</option>
                <option value="MONTELIBANO">MONTELIBANO</option>
                <option value="MONTENEGRO">MONTENEGRO</option>
                <option value="MONTERIA">MONTERIA</option>
                <option value="MOSQUERA">MOSQUERA</option>
                <option value="NATAGA">NATAGA</option>
                <option value="NEIVA">NEIVA</option>
                <option value="NORCASIA">NORCASIA</option>
                <option value="OCAÑA">OCAÑA</option>
                <option value="OICATA">OICATA</option>
                <option value="OPORAPA">OPORAPA</option>
                <option value="PACHO">PACHO</option>
                <option value="PAICOL">PAICOL</option>
                <option value="PAIPA">PAIPA</option>
                <option value="PALERMO">PALERMO</option>
                <option value="PALMAR DE VARELA">PALMAR DE VARELA</option>
                <option value="PALMIRA">PALMIRA</option>
                <option value="PASTO">PASTO</option>
                <option value="PAZ DE ARIPORO">PAZ DE ARIPORO</option>
                <option value="PEREIRA">PEREIRA</option>
                <option value="PIEDECUESTA">PIEDECUESTA</option>
                <option value="PIENDAMO">PIENDAMO</option>
                <option value="PITALITO">PITALITO</option>
                <option value="POLO NUEVO">POLO NUEVO</option>
                <option value="PONEDERA">PONEDERA</option>
                <option value="POPAYAN">POPAYAN</option>
                <option value="POTOSI">POTOSI</option>
                <option value="PUEBLOVIEJO">PUEBLOVIEJO</option>
                <option value="PUERTO COLOMBIA">PUERTO COLOMBIA</option>
                <option value="PUERTO NARIÑO">PUERTO NARIÑO</option>
                <option value="PUERTO SANTANDER">PUERTO SANTANDER</option>
                <option value="PUERTO TEJADA">PUERTO TEJADA</option>
                <option value="QUIBDO">QUIBDO</option>
                <option value="RESTREPO">RESTREPO</option>
                <option value="RETIRO">RETIRO</option>
                <option value="RIO DE ORO">RIO DE ORO</option>
                <option value="RIOHACHA">RIOHACHA</option>
                <option value="RIONEGRO">RIONEGRO</option>
                <option value="RISARALDA">RISARALDA</option>
                <option value="RIVERA">RIVERA</option>
                <option value="ROBLES (LA PAZ)">ROBLES (LA PAZ)</option>
                <option value="ROLDANILLO">ROLDANILLO</option>
                <option value="SABANAGRANDE">SABANAGRANDE</option>
                <option value="SABANALARGA">SABANALARGA</option>
                <option value="SABANETA">SABANETA</option>
                <option value="SAHAGUN">SAHAGUN</option>
                <option value="SAMACA">SAMACA</option>
                <option value="SAMANA">SAMANA</option>
                <option value="SAN AGUSTIN">SAN AGUSTIN</option>
                <option value="SAN ANDRES">SAN ANDRES</option>
                <option value="SAN CRISTOBAL">SAN CRISTOBAL</option>
                <option value="SAN DIEGO">SAN DIEGO</option>
                <option value="SAN FRANCISCO">SAN FRANCISCO</option>
                <option value="SAN JUAN DE ARAMA">SAN JUAN DE ARAMA</option>
                <option value="SAN JUAN DE RIO SECO">SAN JUAN DE RIO SECO</option>
                <option value="SAN JUAN DEL CESAR">SAN JUAN DEL CESAR</option>
                <option value="SAN MARTIN">SAN MARTIN</option>
                <option value="SAN PEDRO">SAN PEDRO</option>
                <option value="SAN PEDRO DE URABA">SAN PEDRO DE URABA</option>
                <option value="SANTA MARTA">SANTA MARTA</option>
                <option value="SANTA ROSA">SANTA ROSA</option>
                <option value="SANTA ROSA DE CABAL">SANTA ROSA DE CABAL</option>
                <option value="SANTA ROSA DE OSOS">SANTA ROSA DE OSOS</option>
                <option value="SANTA SOFIA">SANTA SOFIA</option>
                <option value="SANTANA">SANTANA</option>
                <option value="SANTANDER DE QUILICHAO">SANTANDER DE QUILICHAO</option>
                <option value="SANTO TOMAS">SANTO TOMAS</option>
                <option value="SANTUARIO">SANTUARIO</option>
                <option value="SIBATE">SIBATE</option>
                <option value="SILVANIA">SILVANIA</option>
                <option value="SINCELEJO">SINCELEJO</option>
                <option value="SOACHA">SOACHA</option>
                <option value="SOCHA">SOCHA</option>
                <option value="SOGAMOSO">SOGAMOSO</option>
                <option value="SOLEDAD">SOLEDAD</option>
                <option value="SONSON">SONSON</option>
                <option value="SOPO">SOPO</option>
                <option value="SUBACHOQUE">SUBACHOQUE</option>
                <option value="SUESCA">SUESCA</option>
                <option value="TENJO">TENJO</option>
                <option value="TENZA">TENZA</option>
                <option value="TIBU">TIBU</option>
                <option value="TIERRALTA">TIERRALTA</option>
                <option value="TIMANA">TIMANA</option>
                <option value="TIMBIO">TIMBIO</option>
                <option value="TOCANCIPA">TOCANCIPA</option>
                <option value="TOGUI">TOGUI</option>
                <option value="TOLEDO">TOLEDO</option>
                <option value="TRUJILLO">TRUJILLO</option>
                <option value="TULUA">TULUA</option>
                <option value="TUMACO">TUMACO</option>
                <option value="TUNJA">TUNJA</option>
                <option value="TUQUERRES">TUQUERRES</option>
                <option value="TURBACO">TURBACO</option>
                <option value="TURBANA">TURBANA</option>
                <option value="TURMEQUE">TURMEQUE</option>
                <option value="UBATE">UBATE</option>
                <option value="ULLOA">ULLOA</option>
                <option value="UNE">UNE</option>
                <option value="UNION PANAMERICANA">UNION PANAMERICANA</option>
                <option value="VALLEDUPAR">VALLEDUPAR</option>
                <option value="VIJES">VIJES</option>
                <option value="VILLA DE LEYVA">VILLA DE LEYVA</option>
                <option value="VILLA DEL ROSARIO">VILLA DEL ROSARIO</option>
                <option value="VILLAMARIA">VILLAMARIA</option>
                <option value="VILLAPINZON">VILLAPINZON</option>
                <option value="VILLARICA">VILLARICA</option>
                <option value="VILLAVICENCIO">VILLAVICENCIO</option>
                <option value="VILLETA">VILLETA</option>
                <option value="VITERBO">VITERBO</option>
                <option value="YOPAL">YOPAL</option>
                <option value="YOTOCO">YOTOCO</option>
                <option value="YUMBO">YUMBO</option>
                <option value="ZIPAQUIRA">ZIPAQUIRA</option>
                <option value="ZONA BANANERA">ZONA BANANERA</option>
              </select>
                          
              <button id="btn_uno" type="submit" class="btn btn-success">Cargar datos</button>
            </div>
  
        </form>
      </div>

      {% endif %} 
</body>
</html>