body {
  display: flex;
  flex-direction: column;
  background: url('../bg2.png') fixed;
}

.navbar-1{
  width: 120%;
}

.navbar {
  width: 100%;
}

table,
th,
td {
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

section {text-align: center;}

tr:nth-child(odd) {
  background-color: #eee;
}
tr:nth-child(even) {
  background-color: #fff;
}

tr:hover {
  background-color: #ffff99;
}

.tablaChiquita{
  margin-left: 45%;
}