body {
  display: flex;
  flex-direction: column;
  /*background: url('../bg2.png') fixed;*/
  /*background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
  background-color:rgba(41,43,44,0.3); 
}

.navbar-1{
  width: 193%;
}

.navbar {
  width: 100%;
}

table,
th,
td {
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

section {text-align: center;}

tr:nth-child(odd) {
  background-color: #eee;
}
tr:nth-child(even) {
  background-color: #fff;
}

tr:hover {
  background-color: #ffff99;
}

.tablaChiquita{
  margin-left: 38%;
}